{% extends "examine/angular_form_default.html" %}

{% block content %}
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['certified-nat-gbs']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['certification-standard']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['certification-date']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['certification-number']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['certification-record-id']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['project-id']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['unit-count']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['hers-score']"></axis-field></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6"><axis-field field="regionObject.fields['hud-disaster-case-number']"></axis-field></div>
    </div>
{% endblock content %}
