<div class="row">
    <div class="col-md-6 col-md-push-6">
        {% include "geographic/angular_map.html" %}
    </div>
    <div class="col-md-6 col-md-pull-6">
        <div class="row">
            <div class="col-md-4 key">City:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.city_name || '-'"></div>
            </div>
        </div>
        <div class="row" ng-if="regionObject.object.county_name">
            <div class="col-md-4 key">County:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.county_name || '-'"></div>
            </div>
        </div>
        <div class="row" ng-if="regionObject.object.county_name">
            <div class="col-md-4 key">Metro:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.metro_name || '-'"></div>
            </div>
        </div>
        <div class="row" ng-if="regionObject.object.county_name">
            <div class="col-md-4 key">State:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.state || '-'"></div>
            </div>
        </div>
        <div class="row" ng-if="!regionObject.object.county_name">
            <div class="col-md-4 key">Country:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.country_name || '-'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 key">Crossroads:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.cross_roads || '-'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 key">Multi-family:</div>
            <div class="col-md-8">
                <div ng-if="regionObject.object.is_multi_family">
                    <span ng-if="regionObject.object.is_multi_family"
                          class="label label-default">
                         Multi-family
                    </span>
                </div>
                <div ng-if="!regionObject.object.is_multi_family">
                    --
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 key">Axis ID:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.axis_id || '-'"></div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4 key">Website:</div>
            <div class="col-md-8">
                <div ng-bind="regionObject.object.website || '-'"></div>
            </div>
        </div>
    </div>
</div>
