{% verbatim %}
<br/>
<p>
    You are currently exceeding {{ba_count}} builder agreement{{#compare ba_count 1 operator='>' }}s{{/compare}}
    by {{lot_count}} lot{{#compare lot_count 1 operator='>'}}s{{/compare}}.
</p>
<p>
    <a class="btn btn-primary" id="unselect_checkboxes" href="#">Unselect Offending Checkboxes</a>
</p>
{% endverbatim %}
