<p>
    Dear {{ verifier.get_full_name }}:
</p>
<p>
    <b>Congratulations! Throughout {{ from_date }} to {{ to_date }}, you consistently earned high performance marks from the NGBS Green Review team. Great job!</b>
    Please visit AXIS to view <a href="{{ url }}">your current NGBS Green 6-month grade average</a>.
</p>
<p>
    The grade summary page reflects verification report, desktop, and virtual audit performance and includes notes related to assigned grades.
    We encourage you to review these grades carefully to identify any areas for improvement and discuss with your work supervisor, as appropriate. (Note: NGBS Green Verifier Admins can assess grades for all verifiers within their respective companies.)
</p>
<p>
    All grades are assessed based on the Verifier Performance Policy. For reference, see the policy and rubric within
    <a href="https://homeinnovation.pivotalenergy.net/api/v3/customer_document/151405/preview/">VRG Part I</a>,
    as well as the <a href="https://youtu.be/BAR6rGwbHis">2021 Q4</a> Webinar Recording.
</p>
<p>
    Again, congratulations on your hard work and achievements throughout this past period. We appreciate your conscientiousness and adherence to NGBS Green verification protocols and policies.
    Your contributions help ensure that the NGBS Green program remains credible and reliable.
</p>
<p>
    Please do not hesitate to <a href="http://www.homeinnovation.com/GreenContact">contact our team</a> with any questions or concerns.
</p>
<p>
    NGBS Green Team
</p>