<p>
    Dear {{ verifier.get_full_name }}:
</p>
<p>
    Please visit AXIS to view <a href="{{ url }}">your current NGBS Green 6-month grade average</a>
</p>
<p>
    <b>
        Based on your average grade, you will be placed into a 1-year probationary period. Future accreditation renewal after the probation period will be contingent upon your performance.
    </b>
</p>
<p>
    <b>
        Please schedule a time with our team to discuss your verification issues. Contact <a href="mailto:cwasser@homeinnovation.com">Cindy</a> to schedule this call.
    </b>
</p>
<p>
    The grade summary page reflects verification report, desktop, and virtual audit performance and includes notes related to assigned grades.
    We encourage you to review these grades carefully to identify any areas for improvement and discuss with your work supervisor, as appropriate.
    (Note: NGBS Green Verifier Admins can assess grades for all verifiers within their respective companies.)
</p>
<p>
    All grades are assessed based on the Verifier Performance Policy. For reference, see the policy and rubric within
    <a href="https://homeinnovation.pivotalenergy.net/api/v3/customer_document/151405/preview/">VRG Part I</a>, a
    s well as the <a href="https://youtu.be/BAR6rGwbHis">2021 Q4</a> Webinar Recording.
</p>
<p>
    Thank you for your investment in your professional development. We rely on Verifier conscientiousness and adherence to NGBS Green verification protocols to ensure the NGBS Green program remains credible and reliable.
</p>
<p>
    Please do not hesitate to <a href="http://www.homeinnovation.com/GreenContact">contact our team</a> with any questions or concerns.
</p>
<p>
    NGBS Green Team
</p>
