<p>
    Dear {{ verifier.get_full_name }}:
</p>
<p>
    Please visit AXIS to view <a href="{{ url }}">your current NGBS Green 6-month grade average</a>
</p>
<p>
    <b>
        We encourage you to revisit training materials and verification protocols on
        <a href="https://homeinnovation.pivotalenergy.net/app/hi/verifier/2282/resources">Verifier Central</a>
        to improve your overall performance.
    </b>
</p>
<p>
    The grade summary page reflects verification report, desktop,
    and virtual audit performance and includes notes related to assigned grades.
    We encourage you to review these grades carefully to identify
    any areas for improvement and discuss with your work supervisor, as appropriate.
    (Note: NGBS Green Verifier Admins can assess grades for all verifiers within their respective companies.)
</p>
<p>
    All grades are assessed based on the Verifier Performance Policy. For reference, see the policy and rubric within
    <a href="https://homeinnovation.pivotalenergy.net/api/v3/customer_document/151405/preview/">VRG Part I</a>,
    as well as the <a href="https://youtu.be/BAR6rGwbHis">2021 Q4</a> Webinar Recording.
</p>
<p>
    <b>
        The Verifier Performance Policy encourages Verifiers receiving a grade of “C” to discuss
        verification issues with the Senior Manager, Green Building Programs.
        Contact <a href="mailto:cwasser@homeinnovation.com">Cindy</a> to schedule this call.
    </b>
</p>
<p>
    Thank you for your investment in your professional development.
    We rely on Verifier conscientiousness and adherence to NGBS Green verification
    protocols to ensure the NGBS Green program remains credible and reliable.
</p>
<p>
    Please do not hesitate to <a href="http://www.homeinnovation.com/GreenContact">contact our team</a> with
    any questions or concerns.
</p>
<p>
    NGBS Green Team
</p>
