{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block header_text %}Reset Password{% endblock %}

{% block form_content %}
    {% if validlink %}
        <div class="row">
            <div class="col-md-4">{{ form.new_password1|as_crispy_field }}</div>
        </div> <div class="row">
            <div class="col-md-4">{{ form.new_password2|as_crispy_field }}</div>
        </div>

        <div class="row text-warning">
            <ul>
                <li>Password must be longer than 6 characters.</li>
                <li>Password must contain at least 1 uppercase letter.</li>
                <li>Password must contain at least 1 lowercase letter.</li>
                <li>Password must contain at least 1 digit.</li>
                <li>Not be based upon common dictionary words or sequences (such as 12345)</li>
            </ul>
        </div>
    {% else %}
        <h2>Invalid password reset link</h2>
        <p>
        The password reset link is not currently valid for this version of Axis.  Please make sure
        the link is no older than 3 days, and that it is not meant for an alternate version of the
        site.
        </p>
    {% endif %}
{% endblock form_content %}

{% block form_actions %}
    {% if validlink %}
        {{ block.super }}
    {% endif %}
{% endblock form_actions %}
