{% extends "base.html" %}

{% block page_title %}Password Reset Complete{% endblock page_title %}

{% block full_content %}
    <header>
        <div class="row row-header">
            <div class="col-md-12">
                <p>Password successfully changed.</p>
            </div>
        </div>
    </header>
    <br />
    <br />
    <p class="text-center">Your password has been changed!  Go back to <a href="{% url "profile:detail" pk=request.user.pk %}">your profile</a>.</p>
    <br />
    <br />
    <br />
    <p class="text-center">If you feel require further assistance please
        <a href="http://support.pivotalenergysolutions.com">contact</a> your friendly support
            representative for assistance.</p>


{% endblock full_content %}
