{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block header_text %}Reset Password{% endblock %}

{% block form_content %}

    <p>Forgot your password? We understand it happens. Enter your email below and
        we'll send you instructions for creating a new one.</p>

    <div class="row">
        <div class="col-md-4">{{ form.email|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.tos|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            By clicking you acknowledge receipt and agreement to the
            <a href="/license/" target="_blank">License and Terms of Service</a>.
        </div>
    </div>

{% endblock form_content %}


{% block form_actions %}
    <button type="submit" id="id_submit" class="btn btn-primary">Submit</button>
{% endblock form_actions %}