{% extends "base.html" %}

{% block page_title %}Password Reset Email Sent{% endblock page_title %}

{% block full_content %}
    <header>
        <div class="row row-header">
            <div class="col-md-12">
                <p>Email Sent!</p>
            </div>
        </div>
    </header>
    <br />
    <br />
    <p>We have sent you an email with a link to reset your password.  Please check your email and
        click the link to continue.</p>
    <br />
    <p class="text-center">If you feel require further assistance please
        <a href="http://support.pivotalenergysolutions.com">contact</a> your friendly support
            representative for assistance.</p>


{% endblock full_content %}
