{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Change Password{% endblock page_title %}

{% block header_text %}Change Password{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-md-4">{{ form.old_password|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.new_password1|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form.new_password2|as_crispy_field }}</div>
    </div>

    <div class="row text-warning">
        <ul>
            <li>Password must be longer than 6 characters.</li>
            <li>Password must contain at least 1 uppercase letter.</li>
            <li>Password must contain at least 1 lowercase letter.</li>
            <li>Password must contain at least 1 digit.</li>
            <li>Not be based upon common dictionary words or sequences (such as 12345)</li>
        </ul>
    </div>
{% endblock form_content %}
