# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
bin/* text eol=lf

# Language Diffs
*.css   diff=css
*.html  diff=html
*.java  diff=java
*.md    diff=markdown
*.py    diff=python
*.sh    diff=bash

# Documents
*.doc   binary diff=exif
*.docx  binary diff=docx
*.dot   binary diff=exif
*.dotx  binary diff=exif
*.xls   binary diff=exif
*.xlsx  binary diff=exif
*.xlsm  binary diff=exif
*.xlt   binary diff=exif
*.xltm  binary diff=exif
*.pdf   binary diff=exif
*.ppt   binary diff=exif
*.pptx  binary diff=exif
*.ps    binary diff=exif

# Fonts
*.eot   binary
*.otf   binary diff=exif
*.ttc   binary diff=exif
*.ttf   binary diff=exif
*.woff  binary
*.woff2 binary

# Audio Visual
*.swf   binary diff=exif

# Images
*.ai    binary diff=exif
*.bmp   binary diff=exif
*.gif   binary diff=exif
*.hqx   binary
*.icns  binary
*.ico   binary
*.jpeg  binary diff=exif
*.jpg   binary diff=exif
*.png   binary diff=exif
*.psd   binary diff=exif
*.svg   text
*.tif   binary diff=exif
*.tiff  binary diff=exif

# Archives
*.gz    binary diff=exif
*.tar   binary
*.tgz   binary
*.zip   binary diff=exif
