# Streamlined names and emails for commits that were made with other info
# Desired Name <desired@email.com> Old Name <old@email.com>

Autumn <autumn@pivotal.energy> Autumn <avalenta@pivotalenergysolutions.com>
Autumn <autumn@pivotal.energy> Autumn <tonightslastsong@gmail.com>
Autumn <autumn@pivotal.energy> Autumn Valenta <avalenta@pivotalenergysolutions.com>
Autumn <autumn@pivotal.energy> Autumn Valenta <tonightslastsong@gmail.com>
Autumn <autumn@pivotal.energy> Tim Valenta <Hotaru@Hotarus-iMac.local>
Autumn <autumn@pivotal.energy> Tim Valenta <tonightslastsong@gmail.com>
Autumn <autumn@pivotal.energy> Hotaru <Hotaru@Hotarus-iMac.local>

Steven <steven@pivotal.energy> Steven <rh0dium@users.noreply.github.com>
Steven <steven@pivotal.energy> Steven <sklass@7stalks.com>
Steven <steven@pivotal.energy> Steven <sklass@pivotalenergysolutions.com>
Steven <steven@pivotal.energy> Steven <sklass@pointcircle.com>
Steven <steven@pivotal.energy> Steven (Win) <sklass@pivotalenergysolutions.com>
Steven <steven@pivotal.energy> Steven K <steven@pointcircle.com>
Steven <steven@pivotal.energy> Steven Klass <rh0dium@users.noreply.github.com>
Steven <steven@pivotal.energy> Steven Klass <sklass@7stalks.com>
Steven <steven@pivotal.energy> Steven Klass <sklass@pivotalenergysolutions.com>
Steven <steven@pivotal.energy> Steven Klass <sklass@pointcircle.com>
Steven <steven@pivotal.energy> Steven Klass <steven.klass+windows_git@pivotalenergysolutions.com>
Steven <steven@pivotal.energy> Steven Klass <steven@pointcircle.com>
Steven <steven@pivotal.energy> Steven Klass via Beta <sklass@7stalks.com>
Steven <steven@pivotal.energy> Ubuntu <sklass@7stalks.com>
Steven <steven@pivotal.energy> rh0dium <sklass@pointcircle.com>
Steven <steven@pivotal.energy> sklass@7stalks.com <ubuntu@beta.pivotalenergy.net>
