<div class="row">
    <div class="col-md-12">
        {{ datatable }}
        {# <table id="data_table" class="table table-striped table-bordered"> #}
        {#     <thead> #}
        {#     <tr> #}
        {#         <th style="width: 10%;">Lot No</th> #}
        {#         <th style="width: 50%;">Home Address</th> #}
        {#         <th style="width: 20%;">Subdivision</th> #}
        {#         <th style="text-align: center;">Rating Type</th> #}
        {#         <th style="text-align: center; width: 5%;">Questions Answered</th> #}
        {#         <th style="text-align: center; width: 10%;">Last Inspection Date</th> #}
        {#         <th style="text-align: center; width: 10%;">Rater</th> #}
        {#     </tr> #}
        {#     </thead> #}
        {# </table> #}
    </div>
</div>
