<table class="table accreditation-table">
    <tbody>
        <tr>
            <td width="25%">
                <b>Accreditation cycle:</b>
                [[ regionObject.object['accreditation_cycle_display'] ]]
            </td>
            <td width="25%">
                <b>Accreditation Start:</b>
                [[ regionObject.object['date_initial'] ]]
            </td>
            <td width="25%">
                <b>Accreditation Expiration:</b>
                [[ regionObject.object['expiration_date'] ]]
            </td>
            <td style="max-width: 200px;">
                <b>Notes:</b>
                [[ regionObject.object['notes'] || '-' ]]
            </td>
        </tr>
    </tbody>
</table>
