<table class="table inspection_grade-table">
    <tbody>
        <tr>
            <td width="25%">
                <b>Date Graded:</b>
                [[ regionObject.object['graded_date'] || '-' ]]
            </td>
            <td width="25%">
                <b>Grade:</b>
                [[ regionObject.object['grade_display'] ]]
            </td>
            <td style="max-width: 200px;">
                <b>Notes:</b>
                [[ regionObject.object['notes'] ]]
            </td>
        </tr>
    </tbody>
</table>
