{% extends "examine/angular_regionset_default.html" %}

{% block regionset %}

    {% block regions %}
        <axis-region region-object="regionObject" ng-repeat="regionObject in regionSet.regions"></axis-region>
    {% endblock regions %}

    <div class="text-center" ng-hide="regionSet.isFull()">
        {% block add_new_button %}
            <a class="btn btn-default" ng-click="regionSet.fetchNewRegion()"
               ng-if="regionSet.new_region_url">
                <i class="fa fa-fw fa-plus-circle"></i>
                {% block add_new_button_text %}
                    Add new [[ regionSet.verbose_name | humanize ]]
                {% endblock %}
            </a>
        {% endblock add_new_button %}
        <a class="btn btn-default" href="/app/user_management/inspection_grades?search=[[ regionSet.user_full_name ]]">
            View All Grades
        </a>
    </div>

{% endblock %}