{% extends "admin/change_list.html" %}

{% block object-tools %}
    <ul class="object-tools">
        <li><a href="./">View All</a></li>
        <li><a href="./?proto_object__selected_object_id__isnull=True&proto_object__object_id__isnull=True">Selection Queue</a></li>
        <li><a href="./?proto_object__selected_object_id__isnull=False">Finalization Queue</a></li>
        <li><a href="./?proto_object__object_id__isnull=False">Merge Candidates</a></li>
    </ul>
    {{ block.super }}
{% endblock object-tools %}
