{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Set your password{% endblock page_title %}

{% block header_text %}{% if activation_error %}Activation Error{% else %}Set your password{% endif %}{% endblock %}

{% block form_content %}
    {% if activation_error %}
        {% with activation_error as e %}
            {{ e.message }}
        {% endwith %}
    {% else %}
        <p>
            To be able to log in set your account password
        </p>
        <div class="row">
            <div class="col-md-6">{{ form.new_password1|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form.new_password2|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form.tos|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                By clicking you acknowledge receipt and agreement to the
                <a href="/license/" target="_blank">License and Terms of Service</a>.
            </div>
        </div>
    {% endif %}
{% endblock form_content %}

{% block form_actions %}
    {% if not activation_error %}
        <button type="submit" id="id_submit" class="btn btn-primary">Submit</button>
    {% endif %}
{% endblock form_actions %}
