{% extends "tensor_registration/registration_base.html" %}

{% block page_title %}Confirmation Email Sent{% endblock page_title %}

{% block full_content %}
    <header>
        <div class="row row-header">
            <div class="col-md-12">
                <p>Confirmation Email Sent</p>
            </div>
        </div>
    </header>
    <br />
    <br />
    <p class="text-center">
        You have been sent a registration confirmation email.
        After clicking the link provided in the email to confirmation your email address,
        a notification will be sent to an administrator who must review and approve your registration before activating your account.
        You will not be able to log into AXIS until your account has been activated by an administrator</p>
    <br />
    <br />
    <br />
    <p class="text-center">If you feel require further assistance please
        <a href="http://support.pivotalenergysolutions.com">contact</a> your friendly support
            representative for assistance.
    </p>
{% endblock full_content %}
