{% extends "tensor_registration/registration_base.html" %}

{% block page_title %Confirmation Email Sent{% endblock page_title %}

{% block full_content %}
    <header>
        <div class="row row-header">
            <div class="col-md-12">
                <p>Registration Failed</p>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Something has gone wrong during the registration process. Please <a href="http://support.pivotalenergysolutions.com">contact Axis support</a> for assistance.</p>
        </div>
    </div>


{% endblock full_content %}
