<h5>Observations</h5>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Recent</h3>
    </div>
    <div class="panel-body" style="background-color: #eee">
        <em>Homes with observations recently updated.</em>
    </div>
    <div class="list-group">
        {% for home_id, item in recent_observations %}
            <a href="{% url "home:view" pk=home_id %}#/tabs/qa" class="list-group-item">
                <span class="text-muted pull-right">
                    {{ item.observations.0.user__first_name }} {{ item.observations.0.user__last_name }}
                </span>
                <strong>{{ item.home_repr }}</strong>
                {% for observation in item.observations %}
                    <div>
                        {{ observation.observation_type }}
                    </div>
                {% endfor %}
            </a>
        {% endfor %}
    </div>
</div>
