{% extends "base_list.html" %}

{% comment %}
    Author: Steven Klass <steven.klass@7stalks.com>
    Copyright 2011-2023 Pivotal Energy Solutions. All rights reserved.
    See the file LICENSE.txt for licensing information.
{% endcomment %}

{% comment %}
    This is a generic template.  It's not always referenced explicitly, but certain views generate
    this as the template to render when their get_queryset() fetches EepProgramHomeStatus objects.
{% endcomment %}

{% block list_content %}
    {{ block.super }}
{% endblock %}
