<div class="row">
    <div class="col-md-12">
        {% if summary %}
            <pre>
                {{ summary }}
            </pre>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if total_report %}
            <pre>
                {{ total_report }}
            </pre>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if incentive_report %}
            <pre>
                {{ incentive_report }}
            </pre>
        {% endif %}
    </div>
</div>
