<div class="row">
    <div class="col-md-2">
        <span class="key">[[ ::regionObject.fields.name.label ]]:</span>
    </div>
    <div class="col-md-10">
        <span class="value">[[ regionObject.object.name ]]</span>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <span class="key">[[ ::regionObject.fields.sponsor.label ]]:</span>
    </div>
    <div class="col-md-10">
        <span class="value">
            <a ng-href="[[ regionObject.object.owner_url ]]">[[ regionObject.object.owner_name
                ]]</a>
        </span>
    </div>
</div>
