<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.name"></axis-field>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.sponsor"></axis-field>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <axis-field field="regionObject.fields.program_visibility_date"></axis-field>
    </div>
    <div class="col-md-6">
        <axis-field field="regionObject.fields.program_start_date"></axis-field>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-4">
        <axis-field field="regionObject.fields.program_close_date"></axis-field>
    </div>
    <div class="col-md-4">
        <axis-field field="regionObject.fields.program_submit_date"></axis-field>
    </div>
    <div class="col-md-4">
        <axis-field field="regionObject.fields.program_end_date"></axis-field>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.program_submit_warning_date"></axis-field>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.program_submit_warning"></axis-field>
        <div class="text-muted">
            You may use the following placeholders in the warning message:
            <code>{home}</code>,
            <code>{visibility_date}</code>
            <code>{start_date}</code>,
            <code>{close_date}</code>
            <code>{submit_date}</code>
            <code>{end_date}</code>
        </div>
    </div>
</div>

<br>
<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.program_close_warning_date"></axis-field>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.program_close_warning"></axis-field>
        <div class="text-muted">
            You may use the following placeholders in the warning message:
            <code>{home}</code>,
            <code>{visibility_date}</code>
            <code>{start_date}</code>,
            <code>{close_date}</code>
            <code>{submit_date}</code>
            <code>{end_date}</code>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <axis-field field="regionObject.fields.comment"></axis-field>
    </div>
</div>
