<div class="row">
    <div class="col-md-12"
         ng-switch="regionObject.object.state || null">

        <div class="row"
             ng-switch-when="new">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-centered text-muted">Approve enrollment information to set agreement
                    details.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Agreement:</h4>
                <div class="row">
                    <div class="col-md-5 key">[[ regionObject.verbose_names.agreement_start_date
                        ]]:
                    </div>
                    <div class="col-md-7"
                         ng-bind="regionObject.object.agreement_start_date || '-'"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 key">[[
                        regionObject.verbose_names.agreement_expiration_date ]]:
                    </div>
                    <div class="col-md-7"
                         ng-bind="regionObject.object.agreement_expiration_date || '-'"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 key">Version:
                    </div>
                    <div class="col-md-7" ng-bind="regionObject.object.ca_version_to_sign"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 key">Initiator:
                    </div>
                    <div class="col-md-7" ng-bind-html="regionObject.object.initiator_display | trustAsHtml"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>
                    <span ng-bind-html="regionObject.object.company_display | trustAsHtml"></span>
                    COI: <small><a href="[[ regionObject.object.company_url ]]#/tabs/coi">View all</a></small>
                </h4>
                <div class="panel panel-default" ng-repeat="company_coi in regionObject.object.company_cois">
                    <div class="panel-heading">
                        <span class="key">Policy Number:</span>
                        <span>[[ company_coi.policy_number || '-' ]]</span>
                        <span class="key">Start date:</span>
                        <span>[[ company_coi.start_date || '-' ]]</span>
                        <span class="key">Expiration date:</span>
                        <span>[[ company_coi.expiration_date || '-' ]]</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a ng-href="[[ company_coi.url ]]"
                                   target="_blank" title="Download document">
                                    <i class="fa fa-download"></i>
                                </a>
                                -
                                <i>[[ company_coi.description || 'No description provided' ]]</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
