<div class="row" ng-if="regionObject.fields['is_accessory_structure']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['is_accessory_structure']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['accessory_structure_description']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['accessory_structure_description']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['hud_disaster_case_number']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['hud_disaster_case_number']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['green_energy_badges']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['green_energy_badges']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['building_number']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['building_number']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['is_include_commercial_space']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['is_include_commercial_space']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['commercial_space_type']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['commercial_space_type']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['total_commercial_space']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['total_commercial_space']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['story_count']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['story_count']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['number_of_units']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['number_of_units']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['is_require_rough_inspection']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['is_require_rough_inspection']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['is_require_water_sense_certification']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['is_require_water_sense_certification']"></axis-field>
        </div>
    </div>
</div>

<div class="row" ng-if="regionObject.fields['is_require_wri_certification']">
    <div class="col-xs-12">
        <div class="form-group">
            <axis-field field="regionObject.fields['is_require_wri_certification']"></axis-field>
        </div>
    </div>
</div>

