{% extends 'base_detail.html' %}
{% load bootstrap_tags %}

{% comment %}
    Author: Steven Klass <sklass@pivotalenergysolutions.com>
    Copyright 2011-2023 Pivotal Energy Solutions. All rights reserved.
    See the file LICENSE.txt for licensing information.
{% endcomment %}

{% block detail_content %}
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            {% include 'geographic/map.html' %}

            <div class="row">
                <div class="col-md-4 key">Last Update:</div>
                <div class="col-md-8 value">{{ object.last_update_date|date:"m/d/Y" }}</div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <br>

            <div class="row">
                <div class="col-md-4 key">Site ID:</div>
                <div class="col-md-8 value">{{ object.pk }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">Lot No:</div>
                <div class="col-md-8 value">{{ object.address.lot_no|default:"-" }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 key">Street:</div>
                <div class="col-md-8 value">
                    <div class="address">
                        {{ object.address.street_line1 }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 key">City:</div>
                <div class="col-md-8 value">{{ object.address.city|default:"-" }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">State:</div>
                <div class="col-md-8 value">{{ object.address.state|default:"-" }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">ZIP Code:</div>
                <div class="col-md-8 value">{{ object.address.zip_code|default:"-" }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 key">Development:</div>
                <div class="col-md-8 value">{{ object.address.development_name|default:"-" }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">County:</div>
                <div class="col-md-8 value">{{ object.address.county|default:"-" }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">Region:</div>
                <div class="col-md-8 value">{{ object.region|default:"-" }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 key">Home Type:</div>
                <div class="col-md-8 value">{{ object.home_type|default:"-" }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">Ref. Home:</div>
                <div class="col-md-8 value">
                    {% if object.reference_home %}
                        <a href="{{ object.reference_home.get_absolute_url }}">{{ object.reference_home }}</a>
                    {% else %}-{% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 key">Initiation Date:</div>
        <div class="col-md-2 value">{{object.initiation_date|date:"m/d/Y"|default:"-"}}</div>
        <div class="col-md-2 key">Start Date:</div>
        <div class="col-md-2 value">{{object.project_start_date|date:"m/d/Y"|default:"-"}}</div>
        <div class="col-md-2 key">Est. Compl:</div>
        <div class="col-md-1 value">{{ object.estimated_completion_date|date:"m/d/Y"|default:"-"}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 key">ETO Territory:</div>
        <div class="col-md-2 value">{% if object.eto_territory %}Yes{% else %}No
        {% endif %}</div>
        <div class="col-md-2 key">Multi-Family:</div>
        <div class="col-md-2 value">{% if object.multifamily %}Yes{% else %}No{% endif %}</div>
        <div class="col-md-2 key">Builder Owner:</div>
        <div class="col-md-2 value">{% if object.builder_owner %}Yes{% else %}No
        {% endif %}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 key">Electric Acct:</div>
        <div class="col-md-2 value">{{object.electric_utility_account_no|default:"-"}}</div>
        <div class="col-md-4 key">Gas Acct:</div>
        <div class="col-md-2 value">{{object.gas_utility_account_no|default:"-"}}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 key">Description:</div>
        <div class="col-md-2 value">{{ object.description|default:"-" }}</div>
    </div>

{% endblock %}

{% block tabs %}
    {% bootstrap_navtabs %}
        {% tab "Inspections" show=inspections|length %}
            {% include 'customer_neea/tabs/inspections.html' with object_list=inspections %}

        {% tab "Partners" %}
            {% include 'customer_neea/tabs/partners.html' with object_list=partners %}

        {% tab "Incentive Payments" show=inspections|length  %}
            {% include 'customer_neea/tabs/incentives.html' with object_list=inspections %}

    {% endbootstrap_navtabs %}
{% endblock tabs %}
