{% extends "base_list.html" %}

{% comment %}
    Author: Steven Klass <steven.klass@7stalks.com>
    Copyright 2011-2023 Pivotal Energy Solutions. All rights reserved.
    See the file LICENSE.txt for licensing information.
{% endcomment %}

{% block style_sheet %}
    <style type="text/css">
        .datatable th[data-name="owner"] { width: 20% }
        .datatable th[data-name="builder"] { width: 20% }
        .datatable th[data-name="subdivision"] { width: 25% }
        .datatable th[data-name="community"] { width: 25% }
    </style>
{% endblock %}
