{% extends 'base_list.html' %}

{% block style_sheet %}
    <style type="text/css">
        .dataTable th[data-name="sample-set-alt-name"] { width: 15% }
        .dataTable th[data-name="company"] { width: 20% }
        .dataTable th[data-name="eep"] {  }
        .dataTable th[data-name="builder"] { width: 15% }
        .dataTable th[data-name="is-metro"] { width: 5% }
        .dataTable th[data-name="complete"] { width: 5% }
        .dataTable th[data-name="testsampled"] { width: 5% }
        .dataTable th[data-name="status"] { width: 15% }
    </style>
{% endblock %}
