<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6" ng-if="regionObject.fields.account_number">
                    <axis-field field="regionObject.fields.account_number"></axis-field>
                </div>
                <div class="col-md-6" ng-if="regionObject.fields.ccb_number">
                    <axis-field field="regionObject.fields.ccb_number"></axis-field>
                </div>
            </div>
        </div>
    </div>
</div>
