{% load static %}

<div ng-controller="VerifierAgreementEnrollmentFormController">
    <div class="row">
        <div class="col-md-6">
            <h4>Mailing Address:</h4>
        </div>
        <div class="col-md-6">
            <h4>
                Shipping/Physical Address:
                <button class="btn btn-primary btn-xs" ng-click="useDifferentShippingAddress()">
                    <span ng-hide="differentShippingAddress">Click if different from Mailing Address</span>
                    <span ng-show="differentShippingAddress">Use mailing address</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <axis-field field="regionObject.fields.mailing_geocode_street_line1"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <axis-field field="regionObject.fields.mailing_geocode_street_line2"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8">
                            <axis-field field="regionObject.fields.mailing_geocode_city"
                                        on-change="mailingCityChanged($item)"/>
                        </div>
                        <div class="col-md-4">
                            <axis-field field="regionObject.fields.mailing_geocode_zipcode"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-show="differentShippingAddress">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <axis-field
                                        field="regionObject.fields.shipping_geocode_street_line1"/>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <axis-field field="regionObject.fields.shipping_geocode_street_line2"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8">
                            <axis-field field="regionObject.fields.shipping_geocode_city"/>
                        </div>
                        <div class="col-md-4">
                            <axis-field field="regionObject.fields.shipping_geocode_zipcode"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-hide="differentShippingAddress">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>[[ regionObject.fields.shipping_geocode_street_line1.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.mailing_geocode_street_line1"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>[[ regionObject.fields.shipping_geocode_street_line2.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.mailing_geocode_street_line2"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>[[ regionObject.fields.shipping_geocode_city.label ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="mailingCity"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>[[ regionObject.fields.shipping_geocode_zipcode.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.mailing_geocode_zipcode"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>Individual Verifier (Applicant) Information:</h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        Administrative Contact:
                        <button class="btn btn-primary btn-xs"
                                ng-click="useDifferentAdministrativeContact()">
                            <span ng-hide="differentAdministrativeContact">Click if different from Verifier</span>
                            <span ng-show="differentAdministrativeContact">Use Applicant information</span>
                        </button>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_first_name"/>
                        </div>
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_last_name"/>
                        </div>
                        <div class="col-md-3" ng-show="differentAdministrativeContact">
                            <axis-field
                                    field="regionObject.fields.administrative_contact_first_name"/>
                        </div>
                        <div class="col-md-3" ng-show="differentAdministrativeContact">
                            <axis-field
                                    field="regionObject.fields.administrative_contact_last_name"/>
                        </div>
                        <div class="col-md-3" ng-hide="differentAdministrativeContact">
                            <div class="form-group">
                                <label>[[
                                    regionObject.fields.administrative_contact_first_name.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.applicant_first_name"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-hide="differentAdministrativeContact">
                            <div class="form-group">
                                <label>[[ regionObject.fields.administrative_contact_last_name.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.applicant_last_name"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_email"/>
                        </div>
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_phone_number"/>
                        </div>
                        <div class="col-md-3" ng-show="differentAdministrativeContact">
                            <axis-field
                                    field="regionObject.fields.administrative_contact_phone_number"/>
                        </div>
                        <div class="col-md-3" ng-show="differentAdministrativeContact">
                            <axis-field field="regionObject.fields.administrative_contact_email"/>
                        </div>
                        <div class="col-md-3" ng-hide="differentAdministrativeContact">
                            <div class="form-group">
                                <label>[[ regionObject.fields.administrative_contact_email.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.applicant_email"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-hide="differentAdministrativeContact">
                            <div class="form-group">
                                <label>[[
                                    regionObject.fields.administrative_contact_phone_number.label
                                    ]]</label>
                                <div style="padding: 0.75rem 0;">
                                    <input type="text" class="form-control"
                                           ng-value="regionObject.object.applicant_phone_number"
                                           disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_title"/>
                        </div>
                        <div class="col-md-3">
                            <axis-field field="regionObject.fields.applicant_cell_number"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <axis-field field="regionObject.fields.company_with_multiple_verifiers"
                                on-change="clearMultipleVerifiersData()" class="multiple-verifiers"></axis-field>
                    <style>
                        .multiple-verifiers .control-label {
                            font-weight: bold;
                        }
                    </style>
                </div>
            </div>
            <div ng-show="regionObject.object.company_with_multiple_verifiers">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Officer/Principal of Company:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-4">
                                <axis-field field="regionObject.fields.company_officer_first_name"/>
                            </div>
                            <div class="col-md-4">
                                <axis-field field="regionObject.fields.company_officer_last_name"/>
                            </div>
                            <div class="col-md-4">
                                <axis-field field="regionObject.fields.company_officer_title"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <axis-field
                                        field="regionObject.fields.company_officer_phone_number"/>
                            </div>
                            <div class="col-md-6">
                                <axis-field field="regionObject.fields.company_officer_email"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>Geographic Areas Served:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <axis-field field="regionObject.fields.us_states" no-label/>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>Services Provided by Company:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <axis-field field="regionObject.fields.provided_services" no-label/>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h4>Preview of Legal Agreement (electronic signature will be required via DocuSign):</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe style="width: 100%; height: 25rem"
                            src="{% static 'customer_hirl/verifier_embedded_agreement.pdf' %}"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    By clicking "Submit for Review and Approval by NGBS" you are acknowledging that
                    you have read the Verifier Agreement;
                    that you understand that if your employment by the Company is terminated you
                    will no longer be authorized to act as
                    a Verifier for the NGBS Green Certification Program unless and until you submit
                    a new application and
                    proof of insurance that is accepted by the Company; and that you understand and
                    agree to be bound by
                    the terms of the Verifier Agreement, including but not limited to the conflict
                    of interest,
                    non-competition, and dispute resolution provisions in Section 8 thereof. If you do not
                    agree to the terms and conditions as stated above, or if you have any questions prior to
                    proceeding,
                    you may contact the NGBS Program Staff by emailing 
                    <a href="mailto:verificationreport@homeinnovation.com" >verificationreport@homeinnovation.com</a>.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{% static 'customer_hirl/verifier_embedded_agreement.pdf' %}">Click
                        here to
                        download
                        the
                        sample PDF.</a>
                </div>
            </div>
        </div>
    </div>
</div>
