<div class="row">
    <div class="col-md-2 public-icon">
        <span ng-switch="regionObject.object.is_public">
            <span ng-switch-when="true">
                <i class="fa fa-fw fa-eye" title="Public note"></i>
            </span>
            <span ng-switch-when="false">
                <i class="fa fa-fw fa-eye-slash" title="Private note"></i>
            </span>
        </span>
    </div>
    <div class="col-md-5 compact-checkbox"><axis-field field="regionObject.fields.is_public"></axis-field></div>
    <div class="col-md-5 actions">
        <standalone-action-strip-set actions="regionObject.actions"></standalone-action-strip-set>
    </div>
</div>
<div class="row">
    <div class="col-md-12 content">
        <axis-field field="regionObject.fields.content"></axis-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <non-field-errors></non-field-errors>
    </div>
</div>
