<div class="row">
    <div class="col-md-2 public-icon" ng-switch="regionObject.object.is_public">
        <i ng-switch-when="true" class="fa fa-fw fa-eye" title="Public note"></i>
        <i ng-switch-when="false" class="fa fa-fw fa-eye-slash" title="Private note"></i>
    </div>
    <div class="col-md-6 date">[[ regionObject.object.created_on | date : 'M/d/yy h:mm a' ]]</div>
    <div class="col-md-4 actions">
        <action-strip-set actions="regionObject.actions"></action-strip-set>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2 username">[[ regionObject.object['user_display'] || '(No username)' ]]</div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2 content">[[ regionObject.object['content'] ]]</div>
</div>
