{% extends "base.html" %}

{% load tags %}

{% comment %}
    Author: Steven Klass <steven.klass@7stalks.com>
    Copyright 2011-2023 Pivotal Energy Solutions. All rights reserved.
    See the file LICENSE.txt for licensing information.
{% endcomment %}

{% block page_title %}Access Not Allowed{% endblock %}

{% block content %}
    <article>
        <br />
        <h2 class="text-danger text-center">
            <i class="fa fa-thumbs-down"></i> You do not have access to this area <i class="fa fa-frown-o"></i></h2>
        <br />
        <br />
        <br />
        <p class="text-center">If you feel you received this in error please
            <a href="http://support.pivotalenergysolutions.com">contact</a> your friendly support
                representative for assistance.</p>
    </article>
{% endblock %}
