{% extends "base_examine_wide.html" %}

{# Generic base for "examine" combination views for create, update, and detail. #}

{% block full_content %}
    <span id="examine-view-controller" data-angular-app="examineApp">
    <div class="row" ng-controller="ExamineViewController as examineApp">
        <div class="col-md-9">
        {% block content %}
            {{ block.super }}
        {% endblock content %}
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            {% block sidebar %}{% include "core/base-sidebar.html" %}{% endblock sidebar %}
        </div>
    </div>
    </span>
{% endblock full_content %}
