{% extends "html_email_base.html" %}

{% block content %}
    Hello,

    <p>{{ requesting_user.get_full_name }} has requested a new REMRate account for {{ company }} on
        <a href="{{ host_url }}">{{ target_hostname }}</a>.  To create this account you are
        requested to open my MySQL connection in MySQL Workbench to {{ db_host }}:{{ db_port }}
        using the admin account username '{{ db_user }}' and the correct password.
    </p>
    <p>Once MySQL Workbench connects to {{ db_host }} please execute the following query:</p>
    <pre>
        GRANT ALL PRIVILEGES on remrate.* to '{{ username }}'@'%' IDENTIFIED BY '{{ password }}';
    </pre>

    <p>Sincerely,<br><br>
        <em>The AXIS Support Team</em>
    </p>

{% endblock  %}
